<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <title>订单列表</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script src="/assets/js/flexible.js" crossorigin="anonymous"></script>
    <script src="/assets/js/perf.min.js" crossorigin="anonymous"></script>
    <link href="/assets/css/vendor.css" rel="stylesheet">
    <link href="/assets/css/order.css" rel="stylesheet">
</head>
<body style="font-size: 24px;">
    {include file="common/svg.html"}
    <div>
        <div data-v-08f9d9b7="">
            {include file="common/header.html"}
            <section class="nodatatipWrap NoDataTip-wrapper_1Gwf0tm" img="no-log" data-v-08f9d9b7="">
                <img src="//github.elemecdn.com/eleme/fe-static/master/media/empty/error-load.png">
                <h3>{$msg}</h3>
            </section>
        </div>
    </div>
</body>
</html>