{if $isShowFooter eq 1}
<footer class="index-wrapper_1Rsz2pX">
    <div class="index-footer_Gtduid_">
        <a href="/shop" class="index-footerTab_bl0lbJN">
            <svg class="index-footerTabIcon_1EbB8wS">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{if $footerIndex eq 1}#index.18edf5a{else}#index-regular.b245d60{/if}"></use>
            </svg>
            <span class="index-footerTabText_1It8yh0 {if $footerIndex eq 1}index-footerTabTextActive_3gjOLc6{/if}">商铺</span>
        </a>
        <a href="/order" class="index-footerTab_bl0lbJN">
            <svg class="index-footerTabIcon_1EbB8wS">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{if $footerIndex eq 2}#order.070ae2a{else}#discover-regular.8ef537f{/if}"></use>
            </svg>
            <span class="index-footerTabText_1It8yh0 {if $footerIndex eq 2}index-footerTabTextActive_3gjOLc6{/if}">订单</span>
        </a>
        <a href="/user" class="index-footerTab_bl0lbJN">
            <svg class="index-footerTabIcon_1EbB8wS">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{if $footerIndex eq 3}#profile.dbc5ebf{else}#profile-regular.c151d62{/if}"></use>
            </svg>
            <span class="index-footerTabText_1It8yh0 {if $footerIndex eq 3}index-footerTabTextActive_3gjOLc6{/if}">我的</span>
        </a>
    </div>
</footer>
{/if}