<header class="ElemeHeader-wrapper_3axzyZv" data-v-08f9d9b7="">
    <div class="ElemeHeader-wrapper_3axzyZv ElemeHeader-fixed_7Iy4oAG" style="background: rgb(0, 151, 255); z-index: 8844;">
        {if $isShowBack}
        <a class="ElemeHeader-left_2Jd8GcR" href="javascript:void(0);" id="backButton" data-url="{$backUrl}">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left.6f6409e"></use>
            </svg>
        </a>
        {/if}
        <h1 class="ElemeHeader-center__Vl_mYE" id="titleBar">{$title}</h1></div>
</header>