{extends file="common/index.html"}
{block name="css"}
<link href="/assets/css/order.css" rel="stylesheet">
{/block}

{block name="content"}
{if empty($orderList)}
    <section class="nodatatipWrap NoDataTip-wrapper_1Gwf0tm" img="no-log" data-v-08f9d9b7="">
        <img src="//github.elemecdn.com/eleme/fe-static/master/media/empty/error-load.png">
        <h3>还没有订单</h3>
    </section>
    {else}
    <div data-v-08f9d9b7="" infinite-scroll-distance="20" class="orderbody">
        {foreach from=$orderList item=order}
        <a data-v-e8380afc="" href="javascript:;" class="ordercard" data-v-08f9d9b7="">
            <div data-v-e8380afc="" class="ordercard-body" data-url="/order/detail?oid={$order['oid']}">
                <div data-v-e8380afc="" class="ordercard-avatar">
                    <img data-v-e8380afc="" src="{$shopInfo['cover_img']}"></div>
                <div data-v-e8380afc="" class="ordercard-content">
                    <div data-v-e8380afc="" class="ordercard-head">
                        <div data-v-e8380afc="" class="title">
                            <p data-v-e8380afc="" class="name">
                                <span data-v-e8380afc="" class="content">{$shopInfo['name']}</span>
                                <svg data-v-e8380afc="">
                                    <use data-v-e8380afc="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                                </svg>
                            </p>
                            <p data-v-e8380afc="" class="status">{$order['status_text']}</p>
                        </div>
                        <p data-v-e8380afc="" class="datetime">{$order['create_time']}</p>
                    </div>
                    <div data-v-e8380afc="" class="ordercard-detail">
                        <p data-v-e8380afc="" class="detail">
                            <!--<span data-v-e8380afc="" class="productname ellipsis">小米粥</span>-->
                            <span data-v-e8380afc="">共{$order['item_count']}件商品</span></p>
                        <p data-v-e8380afc="" class="price">¥{$order['price']}</p></div>
                </div>
            </div>
            {if $order['status'] == 1}
            <div data-v-e8380afc="" class="ordercard-bottom">
                <button data-v-e8380afc="" class="cardbutton" data-url="/order/preorder?oid={$order['oid']}">确认订单</button>
            </div>
            {/if}
        </a>
        {/foreach}
        <div data-v-08f9d9b7="" class="orderbody-bottom">
            <p data-v-08f9d9b7="" class="loading" style="display: none;">
                <svg data-v-08f9d9b7="" class="loading-svg">
                    <use data-v-08f9d9b7="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loading"></use>
                </svg>
            </p>
        </div>
    </div>
    {/if}
{/block}

{block name="javascript"}
<script type="text/javascript">
    {literal}
        $(".ordercard-body").click(function(){
            var url = $(this).data('url');
            window.location.href = url;
        });
        $(".cardbutton").click(function(){
            var url = $(this).data('url');
            window.location.href = url;
        })
    {/literal}
</script>
{/block}