<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <title>登录</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script src="/assets/js/flexible.js" crossorigin="anonymous"></script>
    <script src="/assets/js/perf.min.js" crossorigin="anonymous"></script>
    <link href="/assets/css/vendor.css" rel="stylesheet">
    <link href="/assets/css/login.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
</head>
<body style="font-size: 24px;">
  {include file="common/svg.html"}
  <div class="App-2UcLx">
    <header class="ElemeHeader-wrapper_3axzyZv">
      <div class="ElemeHeader-wrapper_3axzyZv ElemeHeader-fixed_7Iy4oAG" style="background: rgb(0, 151, 255); z-index: 8844;">
        <div class="ElemeHeader-left_2Jd8GcR">
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left.6f6409e"></use>
          </svg>
        </div>
        <h1 class="ElemeHeader-center__Vl_mYE">登录</h1>
    </header>
    <div class="App-2KuIB">
      <form class="PasswordLogin-1aKYa">
        <section class="PasswordLogin-2RT6e">
            <input type="text" id="username" placeholder="用户名">
        </section>
        <section class="PasswordLogin-2RT6e">
            <input placeholder="密码" id="password" type="password">
        </section>
        </form>
      <button class="SubmitButton-2wG4T" id="login">登录</button>
    </div>
    <div class="App-3T916">
      <span>关于我们</span></div>
  </div>

    <script src="/assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript">
    {literal}
    $("#login").click(function(){
        var username = $("#username").val();
        var password = $("#password").val();
        $.post(
            '/user/dologin',
            {'username':username,'password':password},
            function(res){
                if(res.code == 0){
                    window.location.href = res['data'];
                }else{
                    alert(res.msg);
                    return false;
                }
            }
        )
    });
    {/literal}
    </script>
</body>