.profile-3g0uv {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	background:#0097ff;
	padding:.666667rem .4rem;
	color:#fff;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center
}
.profile-3g0uv img {
	border-radius:50%;
	width:1.6rem;
	height:1.6rem
}
.profile-2XuMq svg {
	width:.266667rem;
	height:.56rem
}
.profile-xfCcC {
	margin-left:.48rem;
	-webkit-box-flex:1;
	-webkit-flex-grow:1;
	-ms-flex-positive:1;
	flex-grow:1
}
.profile-xfCcC p {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
.profile-1_mtk {
	font-size:.586667rem;
	margin-bottom:.213333rem
}
.profile-1UP72 {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	font-size:.373333rem
}
.profile-1UP72 svg {
	margin-right:.066667rem;
	width:.426667rem;
	height:.426667rem
}
.profile-1gjgY {
	font-size:1.6rem;
	line-height:1.6rem;
	border-radius:50%;
	background:#fff;
	display:inline-block;
	vertical-align:middle
}
.profile-1gjgY,.profile-1gjgY svg {
	width:1.6rem;
	height:1.6rem
}
.profile-1reTe {
	margin-top:.266667rem;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	font-size:.453333rem;
	line-height:.453333rem;
	background:#fff
}
.index-2MEEn_0 {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	padding-left:.666667rem
}
.index-2MEEn_0:not(:last-child) .index-yydpu_0 {
	border-bottom:1px solid #ddd
}
.index-161Mm_0 {
	margin-left:-.266667rem;
	margin-right:.266667rem
}
.index-161Mm_0 svg {
	width:.48rem;
	height:.48rem
}
.index-yydpu_0 {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
	width:100%;
	padding:.333333rem .266667rem .333333rem 0
}
.index-3Z8It_0 svg {
	width:.266667rem;
	height:.266667rem;
	fill:#bbb
}
.index-1G7HV_0 {
	display:table;
	width:100%;
	height:2.24rem;
	border-bottom:1px solid #ddd;
	background-color:#fff
}
.index-1G7HV_0 svg {
	width:.693333rem;
	height:.693333rem
}
.index-1ryAh_0 {
	display:table-cell;
	width:33.3333%;
	vertical-align:middle;
	text-align:center
}
.index-1ryAh_0:not(:last-child) {
	border-right:1px solid #ddd
}
.index-3S6cZ_0 {
	margin-top:.133333rem;
	font-size:.32rem;
	line-height:.373333rem;
	font-weight:500;
	color:#666
}
.index-2FmrF_0 {
	padding:.453333rem 0 .293333rem;
	font-size:.693333rem;
	line-height:.693333rem;
	font-weight:700
}
.index-2V-Hh_0 {
	font-size:.32rem;
	line-height:.32rem
}
