<!--新增地址-->
<div data-v-e4c82014="" class="addressfrom viewbody" id="address-create-box" style="display:none">
    <div data-v-e4c82014="" class="formbloack username">
        <div data-v-e4c82014="" class="label-wrap">联系人</div>
        <div data-v-e4c82014="" class="input-group-wrap">
            <div data-v-e4c82014="" class="input-wrap">
                <input data-v-e4c82014="" id="address_create_name" placeholder="你的姓名"></div>
            <div data-v-e4c82014="" class="input-wrap bottom">
                <span data-v-e4c82014="" class="form-radio">
                    <span data-v-e4c82014="" class="radio-icon" name="address_create_sex" value="1"></span>先生
                </span>
                <span data-v-e4c82014="" class="form-radio">
                    <span data-v-e4c82014="" class="radio-icon" name="address_create_sex" value="2"></span>女士
                </span>
            </div>
        </div>
    </div>
    <div data-v-e4c82014="" class="formbloack phone">
        <div data-v-e4c82014="" class="label-wrap">联系电话</div>
        <div data-v-e4c82014="" class="input-group-wrap rightbtn">
            <div data-v-e4c82014="" class="input-wrap">
                <input data-v-e4c82014="" placeholder="你的手机号" id="address_create_phone" type="tel">
            </div>
        </div>
    </div>
    <div data-v-e4c82014="" class="formbloack address">
        <div data-v-e4c82014="" class="label-wrap">收货地址</div>
        <div data-v-e4c82014="" class="input-group-wrap">
            <div data-v-e4c82014="" class="input-wrap top">
                <input data-v-e4c82014="" id="address_create_address" placeholder="收货详细地址">
            </div>
        </div>
    </div>
    <div data-v-e4c82014="" class="formbloack tags">
        <div data-v-e4c82014="" class="label-wrap">标签</div>
        <div data-v-e4c82014="" class="input-wrap tags">
            <input data-v-e4c82014="" id="address_create_tag" placeholder="地址标签">
        </div>
    </div>
    <div data-v-e4c82014="" class="form-button-wrap">
        <button data-v-e4c82014="" type="button" class="form-button" id="address_create_confirm">确定</button>
    </div>
</div>
<!--新增地址结束-->