{extends file='common/index.html'}
{block name='content'}
<div class="row">
    <div class="col-xs-12">
        {if empty($userInfo)}
        <h4>用户信息不存在</h4>
        {else}
        <form class="form form-horizontal">
            <div class="form-group">
                <label class="col-xs-2 control-label no-padding-right">用户名：</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="username" value="{$userInfo['username']}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label no-padding-right">密码：</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="password" placeholder="如需重置密码请输入新密码，默认不修改密码" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label no-padding-right">头像：</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="head_img" value="{$userInfo['head_img']}" placeholder="用户头像"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label no-padding-right">手机：</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="phone" value="{$userInfo['phone']}" placeholder="手机号" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label no-padding-right">邮箱：</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="email" value="{$userInfo['email']}" placeholder="邮箱" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label no-padding-right">角色：</label>
                <div class="col-xs-6" style="margin-top:3px">
                    {foreach from=$roleList item=role key=key}
                    <label>
                        <input name="role" type="radio" class="" value="{$key}" {if $key eq $userInfo['role']}checked{/if}>
                        <span class="lbl">{$role}</span>
                    </label>
                    {/foreach}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label no-padding-right">状态：</label>
                <div class="col-xs-6" style="margin-top:3px">
                    {foreach from=$statusList item=status key=key}
                    <label>
                        <input name="status" type="radio" class="" value="{$key}" {if $key eq $userInfo['status']}checked{/if}>
                        <span class="lbl">{$status}</span>
                    </label>
                    {/foreach}
                </div>
            </div>
            <input type="text" value="{$userInfo['id']}" id="uid" style="display:none" />

            <div class="row">
                <div class="col-md-offset-2 col-xs-10">
                    <button class="btn btn-info" id="save" type="button">保存</button>
                </div>
            </div>
        </form>
        {/if}
    </div>
</div>
{/block}

{block name="javascript"}
    <script src="/assets/js/user.js"></script>
{/block}